// Place all the styles related to the restorents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container{
    width: 80%;
    margin: auto;
    background-color: whitesmoke;
    padding: 10px;
    
}
// .containers{
//     width: 100%;
// }
// .retaurent{
//     width:70%;
//     padding:20px;
//     background:whitesmoke;
//     float: right;
// , 
// }
// .lunch{
//     width:27%;
//     padding:20px;
//     background:whitesmoke;
//     float: left;
// }
.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
  }
  .collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
  }
  .card {
    width: 30%;
  }
  .login{
    width: 30%;
    margin: auto;
    background-color: rgb(243, 243, 236);
    padding: 5px;
    
  }
  .buttons{
    width: 30;
  }
  .btns{
    width: 100%;
  }
  .search{
    width: 20%;
  }
  
  