// Place all the styles related to the restorents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container{
    width: 80%;
    margin: auto;
    background-color: whitesmoke;
    
}
// .containers{
//     width: 100%;
// }
// .retaurent{
//     width:70%;
//     padding:20px;
//     background:whitesmoke;
//     float: right;
// , 
// }
// .lunch{
//     width:27%;
//     padding:20px;
//     background:whitesmoke;
//     float: left;
// }